
    <form action="" class="container border mt-5">
    <div class="row justify-content-center m-5">
        <div class="col">
             <label for="" class="form-label">Name</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">age</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">class</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">father Name</label>
             <input class="form-control" type="text" value="">
        </div>
        
    </div>
    <div class="row align-items-end mb-3 m-5 mb-5">
        <label for="" class="form-label text-bold mt-2">parent details</label>
        <div class="col">
             <label for="" class="form-label">father</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">mother</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">brother</label>
             <input class="form-control" type="text" value="">
        </div>
         <div class="col">
             <label for="" class="form-label">grand mother</label>
             <input class="form-control" type="text" value="">
        </div>
        
    </div>
</form>
    
