<form action="" class="container border mt-5  p-4 payment-form">
    <div class="row">
        <label for="" class="fs-5 fw-bold pb-4">Payment Details</label>
    </div>
    <div class="row">
        <div class="col-md-12 pb-3">
             <label class="form-label" for="">Name</label>
             <input class="form-control" type="text" value="" >
        </div>
    </div>
       
        <div class="col-md-12 pb-3">
             <label class="form-label" for="">Card Number</label>
             <input class="form-control" type="text" value="" >
        </div>
   
       <div class="row">
        <div class="col-md-6 pb-3">
             <label class="form-label" for="">cv</label>
             <input class="form-control" type="text" value="" >
        </div>
       
        <div class="col-md-6 pb-3">
             <label class="form-label" for="">valid throught</label>
             <input class="form-control" type="text" value="" >
        </div>
    </div>
    <div class="row justify-content-md-center m-4">
        <button class="btn btn-primary pt-2 pb-2 ps-3 pe-3 " type="button" >Payment</button>
    </div>

</form>